<div *ngFor="let bigtech of bigtechs">
    <!-- ng-container creates an empty container that does not appear in the DOM -->
    <ng-container *ngIf="bigtech.name && bigtech.image">
      <img [src]="bigtech.image" [alt]="bigtech.name" width="300px" height="300px" />
      <h2>{{ bigtech.prize }}</h2>
    </ng-container>
</div>