<h3>Form example</h3>
<form [formGroup]="customForm" (ngSubmit)="onSubmit(customForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="age">
      Age
    </label>
    <input id="age" type="number" formControlName="age">
  </div>

  <button class="button" type="submit">Submit</button>
</form>
