<div *ngFor="let bluechip of bluechips">
    <!-- ng-container creates an empty container that does not appear in the DOM -->
    <ng-container *ngIf="bluechip.name && bluechip.image">
      <img [src]="bluechip.image" [alt]="bluechip.name" width="300px" height="300px" />
      <h2>{{ bluechip.prize }}</h2>
    </ng-container>
</div>
  