html{
    background-color: rgba(131, 124, 124, 0.15);
}
.hello {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: gold;
    margin: 10px;
    padding: 10px;
}
.ibex {
    font-size: 18px;
    color: blue;
    font-weight: bold;
    position: relative;
    text-align: center;
    background-color: cyan;
    margin: 10px;
    padding: 10px;
    width: 45%;
    float: left;
    display: flex;
    flex-direction: column;
}
.ibex_1 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    position: relative;
    text-align: center;
    background-color: #CCC;
    margin: 10px;
    padding: 10px;
    width: 45%;
    float: left;
    display: flex;
    flex-direction: column;
}
.bigtechs {
    font-size: 18px;
    color: cyan;
    font-weight: bold;
    position: relative;
    text-align: center;
    background-color: blue;
    margin: 10px;
    padding: 10px;
    width: 45%;
    float: right;
    display: flex;
    flex-direction: column;
}
.bigtechs_1 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    position: relative;
    text-align: center;
    background-color: rgb(175, 21, 21);
    margin: 10px;
    padding: 10px;
    width: 45%;
    float: right;
    display: flex;
    flex-direction: column;
}
