<!-- We should render our components here ⬇️ -->
<html>
<div class="hello"> Hello {{ title }} !! This is working! 🔥</div>


<!-- <div class="ibex">Ibex Blue Chips</div>
<div class="bigtechs">Nasdaq Big Techs</div> -->

<!-- <app-bluechips class="ibex_1"></app-bluechips>
<app-bigtechs class="bigtechs_1"></app-bigtechs>
<app-reactive-form></app-reactive-form> -->  
<app-data-view></app-data-view> 

<router-outlet></router-outlet>
</html>
