<h3>We'll use this input to change the name and send it down the component tree</h3>
<input [(ngModel)]="username" (ngModelChange)="showInput()" />
<app-data-list [name]="username"></app-data-list> 

<app-data-form (emitMessage)="setMessage($event)"></app-data-form>
<h3>And next, we'll see the message </h3>
<p>{{ outputMessage }}</p>